POSTGRES_DB=urban_sidequest
POSTGRES_USER=urban_sidequest
POSTGRES_PASSWORD=urban_sidequest_dev

COMMON_POSTGRES_HOST=common-postgres
COMMON_POSTGRES_PORT=5432
COMMON_POSTGRES_DB=postgres
COMMON_POSTGRES_USER=postgres-root
COMMON_POSTGRES_PASSWORD=postgres-root-password
